<div class="page">
  <div class="top-bar">
    <div routerLink="/">←</div>
    <div class="title">Review</div>
    <div></div>
  </div>

  <div class="overview-card">
    <h3>Overview</h3>

    <div class="stats">
      <div>
        <b class="green">120</b>
        <small>Mastered</small>
      </div>

      <div>
        <b class="orange">18</b>
        <small>Need Review</small>
      </div>

      <div>
        <b class="red">6</b>
        <small>Weak Words</small>
      </div>
    </div>
  </div>

  <div class="review-today">
    <div>🔁</div>
    <div>
      <b>Review Today</b>
      <p>18 words</p>
    </div>
    <div>›</div>
  </div>

  <h3>Weak Words</h3>

  <div class="weak-list">
    <div class="weak-item">
      <div>
        <b>旅游</b>
        <p>lǚyóu</p>
      </div>
      <span>Wrong 3 times</span>
    </div>

    <div class="weak-item">
      <div>
        <b>天气</b>
        <p>tiānqì</p>
      </div>
      <span>Wrong 2 times</span>
    </div>
  </div>
</div>