<div class="page">
  <div class="top-bar">
    <div routerLink="/hsk/2/lesson/1/flashcard">←</div>
    <div class="title">Quiz</div>
    <div></div>
  </div>

  <div class="quiz-progress">
    <div class="progress-bg">
      <div class="progress-fill" style="width: 40%"></div>
    </div>
    <span>4 / 10</span>
  </div>

  <h3 class="question">“旅游” nghĩa là gì?</h3>

  <div class="answer-card">A. làm việc</div>
  <div class="answer-card correct">B. du lịch <span>✓</span></div>
  <div class="answer-card">C. nghỉ ngơi</div>
  <div class="answer-card">D. học tập</div>

  <button class="next-btn">Next</button>
</div>