<div class="page">
  <div class="top-bar">
    <div routerLink="/">←</div>
    <div class="title">HSK 2</div>
    <div>🏆</div>
  </div>

  <div class="tabs">
    <button class="active">Lessons</button>
    <button>Words</button>
  </div>

  <div class="lesson-card" routerLink="/hsk/2/lesson/1/flashcard">
    <div class="lesson-icon">🧳</div>

    <div class="lesson-info">
      <b>Lesson 1</b>
      <h3>旅游</h3>
      <p>12 / 15 words</p>
    </div>

    <div class="circle-progress">80%</div>
  </div>

  <div class="lesson-card">
    <div class="lesson-icon">🌤️</div>

    <div class="lesson-info">
      <b>Lesson 2</b>
      <h3>天气</h3>
      <p>10 / 15 words</p>
    </div>

    <div class="circle-progress">67%</div>
  </div>

  <div class="lesson-card locked">
    <div class="lesson-icon">👨‍👩‍👧</div>

    <div class="lesson-info">
      <b>Lesson 3</b>
      <h3>家庭</h3>
      <p>0 / 15 words</p>
    </div>

    <div class="lock">🔒</div>
  </div>
  <div class="lesson-card" *ngFor="let lesson of lessons"
    [routerLink]="['/hsk', hsk, 'lesson', lesson.Lesson, 'flashcard']">
    <div class="lesson-icon">
      {{ lesson.Icon }}
    </div>

    <div class="lesson-info">
      <b>Lesson {{ lesson.Lesson }}</b>

      <h3>{{ lesson.Title }}</h3>

      <p>
        {{ lesson.TotalWords }} words
      </p>
    </div>

    <div class="circle-progress">
      ▶
    </div>
  </div>


</div>