<div class="page">
  <div class="top-bar">
    <div class="menu">☰</div>
    <div class="title">HSK Learning</div>
    <div class="streak">🔥 7</div>
  </div>

  <div class="hero-card">
    <div>
      <h1>HSK 2</h1>
      <p>Overall Progress</p>
      <h2>80%</h2>

      <div class="progress-bg">
        <div class="progress-fill" style="width: 80%"></div>
      </div>
    </div>

    <div class="panda">🐼</div>
  </div>

  <h3>Continue Learning</h3>

  <div class="continue-card" routerLink="/hsk/2/lessons">
    <div>
      <b>Lesson 1 · 旅游</b>
      <p>12 / 15 words</p>
      <div class="small-progress">
        <span style="width: 80%"></span>
      </div>
    </div>

    <button>Continue</button>
  </div>

  <h3>Today's Plan</h3>

  <div class="action-grid">
    <div class="action-card" routerLink="/hsk/2/lessons">
      <div>📘</div>
      <b>Learn</b>
      <small>15 words</small>
    </div>

    <div class="action-card" routerLink="/hsk/2/lesson/1/quiz">
      <div>❓</div>
      <b>Quiz</b>
      <small>12 mins</small>
    </div>

    <div class="action-card" routerLink="/review">
      <div>🔁</div>
      <b>Review</b>
      <small>18 words</small>
    </div>

    <div class="action-card">
      <div>🎧</div>
      <b>Listen</b>
      <small>10 mins</small>
    </div>
  </div>
</div>