<div class="page">
  <div class="top-bar">
    <div class="menu">☰</div>
    <div class="title">HSK Learning</div>
    <div class="streak">🔥 7</div>
  </div>

  <div class="hero-card" *ngIf="selectedHsk">
    <div>
      <h1>{{ selectedHsk.Title }}</h1>

      <p>
        {{ selectedHsk.TotalLessons }} Lessons •
        {{ selectedHsk.TotalWords }} Words
      </p>

      <h2>{{ selectedHsk.Progress }}%</h2>

      <div class="progress-bg">
        <div class="progress-fill" [style.width.%]="selectedHsk.Progress">
        </div>
      </div>

      <small>
        {{ selectedHsk.CompletedWords }}
        / {{ selectedHsk.TotalWords }}
        mastered
      </small>
    </div>

    <div class="panda">🐼</div>
  </div>

  <h3>Choose HSK Level</h3>

  <div class="hsk-row">
    <button *ngFor="let item of hskList" [class.active]="selectedHsk?.Hsk === item.Hsk" (click)="selectHsk(item)">
      HSK {{ item.Hsk }}
    </button>
  </div>

  <h3>Continue Learning</h3>

  <div class="continue-card" *ngIf="selectedHsk" [routerLink]="['/hsk', selectedHsk.Hsk, 'lessons']">
    <div>
      <b>{{ selectedHsk.LastLessonTitle }}</b>
      <p>{{ selectedHsk.CompletedWords }} / {{ selectedHsk.TotalWords }} words</p>

      <div class="small-progress">
        <span [style.width.%]="selectedHsk.Progress"></span>
      </div>
    </div>

    <button>Continue</button>
  </div>

  <h3>Today's Plan</h3>

  <div class="action-grid" *ngIf="selectedHsk">
    <div class="action-card" [routerLink]="['/hsk', selectedHsk.Hsk, 'lessons']">
      <div>📘</div>
      <b>Learn</b>
      <small>{{ selectedHsk.TodayWords }} words</small>
    </div>

    <div class="action-card" [routerLink]="['/hsk', selectedHsk.Hsk, 'lesson', selectedHsk.LastLesson, 'quiz']">
      <div>❓</div>
      <b>Quiz</b>
      <small>12 mins</small>
    </div>

    <div class="action-card" routerLink="/review">
      <div>🔁</div>
      <b>Review</b>
      <small>{{ selectedHsk.ReviewWords }} words</small>
    </div>

    <div class="action-card">
      <div>🎧</div>
      <b>Listen</b>
      <small>10 mins</small>
    </div>
  </div>
</div>